* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px 20px;
}

html, body, main{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
}
ul li {
    display: inline-block;
    padding: 5px;
}
.intro {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}
.main-content {
    background-color: white;
    text-align: center;
}
#content-list {
    display: flex;
    justify-content: center;
}
.quote-space {
    background-color: #e5e7eb;
}
.sign-up {
    background-color: white;
}
.sign-up-box {
    background-color: #3882f6;
}
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}